<!DOCTYPE html>
<html>
  <head>
    <title>Proxy Me!!</title>
    
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script type = "text/javascript" src = "/Angularjs/angular.min.js"></script>
    <script type = "text/javascript" src = "/Angularjs/indexangular.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class = "container-fluid" style="background: #3A4045">
  <div class="row">
  <div class="col-md-3"><br/><img src = "/images/proxyme.png" height ="40px" width = "50px"></div>
  <div class="col-md-6">
   <center><div class="h3-white">
    <h2>Admin Login</h2>      
  </div></center>
  </div>

  </div>	
  
  </div>
  <div style = "background:#F5F8FA;">
  <br/>
   
    </div>
   <div class = "container-fluid" style="background:#F5F8FA;height:500px;">
<div class="row">
<div class=" panel panel-info col-md-4">
</div>
<div class=" panel panel-info col-md-4">
<div class="panel panel-default">
     
    <div class="panel-body" >
    <h3>Log in to Proxy Me</h3>
    <form role="form" action="/adminLogin" method="POST">
      <div class="form-group">
        <input type="text" class="form-control" name="email" placeholder="enter email or username " required/>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="password" required/>
      </div>  
      
      
     <input type="submit" class="btn btn-success" value="Log in"/>
    </form>
    
    <div class="panel-footer">
    
    </div>
</div>

<div class="col-md-4">


  </div>
    </div>
</div>
   </div>
  
  
  </body>
  
   
  </body>
</html>